In [1]:
import pandas as pd
import numpy as np

In [2]:
New_York=pd.read_csv("DATASET/New_York.csv",index_col='PLACE')

In [3]:
New_York.head(10)

,Unnamed: 0,TOT_POP,PCT_U18,PC_18_65,PCT_O65,MALE_FEM
PLACE,,,,,,
Adams village,1,1753,25.3,56.2,18.5,79.0
Adams Center CDP,2,1675,30.4,58.7,10.9,87.0
Addison village,3,1842,28.8,56.0,15.2,84.0
Airmont CDP,4,7835,25.0,65.3,9.7,89.0
Akron village,5,2906,24.7,57.1,18.2,81.1
Albany city,6,101082,17.8,66.8,15.3,84.2
Albertson CDP,7,5166,18.9,61.5,19.6,91.8
Albion village,8,5863,26.1,56.8,17.1,85.2
Alden village,9,2457,25.0,60.6,14.4,88.3
Alexandria Bay village,10,1194,20.8,56.2,23.0,83.3

In [6]:
DF=New_York[['TOT_POP','PCT_U18','PC_18_65','PCT_O65','MALE_FEM']]

In [9]:
DF.head()

,TOT_POP,PCT_U18,PC_18_65,PCT_O65,MALE_FEM
PLACE,,,,,
Adams village,1753,25.3,56.2,18.5,79.0
Adams Center CDP,1675,30.4,58.7,10.9,87.0
Addison village,1842,28.8,56.0,15.2,84.0
Airmont CDP,7835,25.0,65.3,9.7,89.0
Akron village,2906,24.7,57.1,18.2,81.1

In [10]:
DF['PCT_U18']=DF['PCT_U18']*DF['TOT_POP']/100

C:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [11]:
DF.head()

,TOT_POP,PCT_U18,PC_18_65,PCT_O65,MALE_FEM
PLACE,,,,,
Adams village,1753,443.509,56.2,18.5,79.0
Adams Center CDP,1675,509.200,58.7,10.9,87.0
Addison village,1842,530.496,56.0,15.2,84.0
Airmont CDP,7835,1958.750,65.3,9.7,89.0
Akron village,2906,717.782,57.1,18.2,81.1

In [12]:
DF['PCT_U18']=DF['PCT_U18']*DF['TOT_POP']/100
DF['PC_18_65']=DF['PC_18_65']*DF['TOT_POP']/100

C:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [13]:
DF['PCT_U18']=DF['PCT_U18']*DF['TOT_POP']/100
DF['PC_18_65']=DF['PC_18_65']*DF['TOT_POP']/100
DF['PCT_O65']=DF['PCT_O65']*DF['TOT_POP']/100

C:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [14]:
DF.head()

,TOT_POP,PCT_U18,PC_18_65,PCT_O65,MALE_FEM
PLACE,,,,,
Adams village,1753,443.509,985.186,324.305,79.0
Adams Center CDP,1675,509.200,983.225,182.575,87.0
Addison village,1842,530.496,1031.520,279.984,84.0
Airmont CDP,7835,1958.750,5116.255,759.995,89.0
Akron village,2906,717.782,1659.326,528.892,81.1

In [137]:
X=np.log(DF[['TOT_POP', 'PCT_U18', 'PC_18_65', 'PCT_O65']])
y=np.log(DF['MALE_FEM'])

In [138]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.30, random_state=42)

In [139]:
from sklearn.linear_model import LinearRegression as LR

In [140]:
lm=LR(normalize=True,fit_intercept=True)
lm_fit=lm.fit(X_train,y_train)

In [141]:
Predicts=lm.predict(np.array(X_test))

In [142]:
Predicts

array([4.46339766, 4.48903035, 4.51040532, 4.50795475, 4.46293214,
       4.38042317, 4.4951365 , 4.51950908, 4.48946894, 4.5617769 ,
       4.58806307, 4.49728684, 4.55790051, 4.43718438, 4.37435829,
       4.37681471, 4.51730901, 4.47434009, 4.4601251 , 4.53856638,
       4.51780016, 4.46287363, 4.46213451, 4.41560511, 4.47456525,
       4.44391826, 4.50218406, 4.40670674, 4.62293885, 4.42361331,
       4.42796046, 4.42844201, 4.54393327, 4.49628927, 4.44971806,
       4.5664894 , 4.27240833, 4.46184378, 4.39282984, 4.60162826,
       4.55264763, 4.6103471 , 4.57365384, 4.42415365, 4.50123553,
       4.51512299, 4.56762663, 4.48700695, 4.50797358, 4.61101599,
       4.52493737, 4.52180334, 4.53538571, 4.54816983, 4.51320381,
       4.511249  , 4.57769117, 4.44308002, 4.42997912, 4.43155782,
       4.39231416, 4.44946349, 4.56825745, 4.47803614, 4.49678837,
       4.45937675, 4.63626595, 4.48791065, 4.4934165 , 4.49478062,
       4.4981113 , 4.47757959, 4.41765277, 4.4433608 , 4.41437638,
       4.33947457, 4.41277103, 4.43780379, 4.40505965, 4.56072943,
       4.45058292, 4.45929061, 4.46641007, 4.60837098, 4.40663424,
       4.45485543, 4.47483018, 4.40290505, 4.44727942, 4.46051473,
       4.62124508, 4.41365524, 4.54251748, 4.74734646, 4.97217902,
       4.5109314 , 4.45945654, 4.52555459, 4.49706018, 4.41455494,
       4.38624104, 4.4021483 , 4.48246805, 4.39926106, 4.51653117,
       4.47855539, 4.50442014, 4.55182363, 4.45137568, 4.48016269,
       4.45241145, 4.48127758, 4.51479711, 4.57528298, 4.49493786,
       4.4677294 , 4.41881138, 4.51868196, 4.51402456, 4.41591528,
       4.5247034 , 4.44128788, 4.61348752, 4.5868802 , 4.56835595,
       4.50065948, 4.46395299, 4.49166027, 4.52608393, 4.50643559,
       4.40146532, 4.57511369, 4.44655796, 4.43271979, 4.42340733,
       4.52943196, 4.56814537, 4.51301173, 4.52997544, 4.46678891,
       4.44931588, 4.54271314, 4.52160899, 4.49961176, 4.51206102,
       4.42696067, 4.4108847 , 4.56876496, 4.82681529, 4.52426717,
       4.50001826, 4.35624393, 4.46698072, 4.43113993, 4.65579002,
       4.46539554, 4.42779797, 4.51268012, 4.45646639, 4.40656317,
       4.47379951, 4.44611968, 4.54805904, 4.5354927 , 4.51776142,
       4.47135824, 4.48739922, 4.42894741, 4.49443914, 4.54943708,
       4.45635132, 4.40632042, 4.43129078, 4.44548722, 4.38189852,
       4.48608446, 4.46219282, 4.5318824 , 4.44016519, 4.49044722,
       4.39432674, 4.48799408, 4.52825043, 4.62504835, 4.49428155,
       4.450898  , 4.48304952, 4.56985604, 4.42736224, 4.43907063,
       4.53784261, 4.52426506, 4.48358253, 4.45020983, 4.44401691,
       4.56888604, 4.50640871, 4.53174295, 4.59427461, 4.49019892,
       4.46728439, 4.49402563, 4.45730817, 4.48818912, 4.50379895,
       4.4712329 , 4.4890394 , 4.41530423, 4.55115893, 4.37928162,
       4.57537946, 4.44203962, 4.42048725, 4.54501096, 4.54986263,
       4.48891198, 4.39810334, 4.46104984, 4.4841478 , 4.46940332,
       4.47394236, 4.53873253, 4.50640897, 4.49517405, 4.64489556,
       4.50099032, 4.43038571, 4.598281  , 4.58028023, 4.55291169,
       4.46993899, 4.49592859, 4.49011013, 4.50246751, 4.47554474,
       4.42257006, 4.59019218])

In [143]:
lm.score(X_test,y_test)

0.3110927467501541

In [144]:
import sklearn.metrics as po
po.r2_score(np.exp(y_test),np.exp(Predicts))

0.12338053900181578

In [146]:
#tsdf=pd.concat([pd.Series(np.exp(y_test)),pd.Series(np.exp(Predicts),index=y_test.index)],axis=1)
r=pd.Series(np.exp(y_test)).corr(pd.Series(np.exp(Predicts),index=y_test.index))

In [130]:
DF.corr()

           TOT_POP   PCT_U18  PC_18_65   PCT_O65  MALE_FEM
TOT_POP   1.000000  0.999955  0.999992  0.999795 -0.009473
PCT_U18   0.999955  1.000000  0.999931  0.999673 -0.009666
PC_18_65  0.999992  0.999931  1.000000  0.999732 -0.008861
PCT_O65   0.999795  0.999673  0.999732  1.000000 -0.012146
MALE_FEM -0.009473 -0.009666 -0.008861 -0.012146  1.000000

In [134]:
pd.Series(np.exp(Predicts),index=y_test.index)

Exception: Data must be 1-dimensional

In [147]:
r*r

0.19224203742313897